@font-face {
    font-family: Crapaud;
    src: url(../fonts/crapaud_petit.otf);
}

@font-face {
    font-family: Crapaud;
    src: url(../fonts/crapaud_petit.ttf);
}

@font-face {
    font-family: CrapaudBold;
    src: url(../fonts/crapaud_gros.otf);
}

@font-face {
    font-family: CrapaudBold;
    src: url(../fonts/crapaud_gros.ttf);
}