/*!
 * Start Bootstrap - New Age v4.0.0-beta (http://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */
html,
body {
  width: 100%;
  height: 100%; }

body {
  /* font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';  */
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'CrapaudBold', Helvetica, Arial, sans-serif; */
  
}

a {
  /* color: #fdcc52; */
  color: #27aae1;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; 
  font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;}
  a:hover, a:focus {
    /* color: #fcbd20; */
    color: #1b75bc; }

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1); }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

b {
  font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0; }
  section h2 {
    font-size: 50px; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px; }
  #mainNav .navbar-brand {
    color: #fdcc52;
    font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #fcbd20; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  #mainNav .navbar-nav > li > a {
    font-size: 14px;
    font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
    #mainNav .navbar-nav > li > a.active {
      color: #fdcc52 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #fdcc52; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: #2788E1;
        border-bottom: 1px solid #26aae1; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222;
          color: white }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #fdcc52; }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: white; }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #fdcc52; } }

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #7b4397;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2788e1+0,fbb042+100 */
  background: #2788e1; /* Old browsers */
  background: url("../img/bg-pattern.png"), -moz-linear-gradient(-45deg,  #2788e1 0%, #fbb042 100%); /* FF3.6-15 */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(-45deg,  #2788e1 0%,#fbb042 100%); /* Chrome10-25,Safari5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(135deg,  #2788e1 0%,#fbb042 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2788e1', endColorstr='#fbb042',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
    header.masthead .header-content h1 {
      font-size: 30px; 
      font-family: 'Montserrat', sans-serif; }
      header.masthead .header-content h1 span {
        font-size: 52px;
        font-family: 'CrapaudBold', Helvetica, Arial, sans-serif; }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .device-container .screen img {
      border-radius: 3px; }
   
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        header.masthead .header-content h1 {
          font-size: 36px; 
          font-family: 'Montserrat', sans-serif; }
          header.masthead .header-content h1 span {
            font-size: 68px;
            font-family: 'CrapaudBold', Helvetica, Arial, sans-serif; }
      header.masthead .device-container {
        max-width: 325px; } }

section.download {
  position: relative;
  padding: 150px 0; }
  section.download h2 {
    font-size: 50px;
    margin-top: 0; }
  section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
  @media (min-width: 768px) {
    section.download h2 {
      font-size: 62px; } }

section.features .section-heading {
  margin-bottom: 100px; }
  section.features .section-heading h2 {
    margin-top: 0; }
  section.features .section-heading p {
    margin-bottom: 0; }

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto; }

section.features .device-container {
  margin-bottom: 100px; }
  @media (min-width: 992px) {
    section.features .device-container {
      margin-bottom: 0; } }

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  section.features .feature-item img {
    width: 200px; }
  section.features .feature-item h3 {
    font-size: 30px; }
  section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #FCEE23, #fbb042);
    background: linear-gradient(to left, #FCEE23, #fbb042);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section.cta .cta-content {
    position: relative;
    z-index: 1; }
    section.cta .cta-content h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; }
    @media (min-width: 768px) {
      section.cta .cta-content h2 {
        font-size: 60px; } }
  section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbb042+0,2788e1+100 */
    background: #fbb042; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(251, 176, 66, 0.8) 0%, rgba(39, 136, 225, 0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(251, 176, 66, 0.8) 0%,rgba(39, 136, 225, 0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(251, 176, 66, 0.8) 0%,rgba(39, 136, 225, 0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb042', endColorstr='#2788e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

section.contact {
  text-align: center; }
  section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px; }
    section.contact h2 i {
      color: #dd4b39; }
  section.contact ul.list-social {
    margin-bottom: 0; }
    section.contact ul.list-social li a {
      font-size: 40px;
      line-height: 80px;
      display: block;
      width: 80px;
      height: 80px;
      color: white;
      border-radius: 100%; }
    section.contact ul.list-social li.social-twitter a {
      background-color: #1da1f2; }
      section.contact ul.list-social li.social-twitter a:hover {
        background-color: #0d95e8; }
    section.contact ul.list-social li.social-facebook a {
      background-color: #3b5998; }
      section.contact ul.list-social li.social-facebook a:hover {
        background-color: #344e86; }
    section.contact ul.list-social li.social-google-plus a {
      background-color: #dd4b39; }
      section.contact ul.list-social li.social-google-plus a:hover {
        background-color: #d73925; }

.badges .badge-link:last-child {
  margin-bottom: 0; }
.badges .badge-link img {
  height: 60px; }
@media (min-width: 768px) {
  .badges .badge-link {
    display: inline-block;
    margin-bottom: 0; } }

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #1b75bc; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

.bg-primary {
  background: #fbb042;
  background: -webkit-linear-gradient(to right, #fdcc52, #fbb042);
  background: linear-gradient(to right, #fdcc52, #fbb042); }

.text-primary {
  color: #fbb042 !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52; }

.btn {
  border-radius: 300px;
  font-family: 'CrapaudBold', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase; }

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }

.cd-mobile-slider {
  display: block;
  background-color: #2788E1;
}
@media only screen and (min-width: 768px) {
  .cd-mobile-slider {
    display: none; } }

.cd-fixed-background {
  display: none;
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .cd-fixed-background h2, .cd-fixed-background p {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cd-fixed-background h2 {
    font-size: 2.4rem; }
  .cd-fixed-background p {
    font-family: 'Montserrat', sans-serif; }
  .cd-fixed-background.img-1 {
    background-color: #2788E1; }
  .cd-fixed-background.img-2 {
    background-color: #1b75bc; }
  .cd-fixed-background.img-3 {
    background-color: #2788E1; }
  .cd-fixed-background.img-4 {
    background-color: #1b75bc; }
@media only screen and (min-width: 768px) {
  .cd-fixed-background {
    display: block;
    height: 100%;
    padding: 0; }
    .cd-fixed-background h2 {
      font-size: 3.6rem;
      font-weight: 300; }
    .cd-fixed-background p {
      font-size: 1.2rem;
      line-height: 1.8; }
    .cd-fixed-background.img-1 {
      background: url(../img/img-2.png), #2788E1;
      background-attachment: fixed;
      /* background-size: 100%; */
      background-size: 90%;
      background-position: center center;
      background-repeat: no-repeat; }
    .cd-fixed-background.img-2 {
      background: url(../img/img-3.png), #1b75bc;
      background-attachment: fixed;
      /* background-size: 100%; */
      background-size: 90%;
      background-position: center center;
      background-repeat: no-repeat; }
    .cd-fixed-background.img-3 {
      background: url(../img/img-4.png), #2788E1;
      background-attachment: fixed;
      /* background-size: 100%; */
      background-size: 90%;
      background-position: center center;
      background-repeat: no-repeat; } }
