@font-face {font-family:"Crapaud-gros";src:url("Crapaud_gros.eot?") format("eot"),url("Crapaud_gros.woff") format("woff"),url("Crapaud_gros.ttf") format("truetype"),url("Crapaud_gros.svg#Crapaud-gros") format("svg");font-weight:normal;font-style:normal;}