@anthracite: #333333;
@grey: #424242;
@silver: #FAFAFA;

@accentHEX: #DD554B;

* {
	position: relative;
	padding: 0;
	border: none;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
    &:focus {outline: none;}
}

a:focus {outline: none;}

html {
    width: 100%;
    height: 100%;
    background: #27AAE1;
    font-family: "Open Sans", sans-serif;
    body {
        width: 100%;
        height: 100%;
        .header {
            // Add webkit
	        display: flex;
        	flex-flow: row wrap;
            justify-content: space-between;

            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            min-height: 64px;
            .logo-module {
                // Add webkit
                display: flex;
                flex-flow: row nowrap;
                flex: 0 0 auto;
                img {
                    display: block;
                    // Add webkit
                    flex: 0 0 64px;

                    width: 64px;
                    height: 64px;
                	background: #1B75BC;
                    padding: 8px;
                }
                figcaption {
                    display: none;
                    // Add webkit
                    flex: 1 0 auto;

                    height: 64px;
                    padding: 16px;
                    @media all and (min-width: 600px) {display: block;}
                    span {
                        display: block;
                        font: 800 28px/32px Crapaud-gros, sans-serif;
                        color: white;
                    }
                }
            }
        }
        .section {
            display: ~"-webkit-flex";
            display: flex;
            -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;

            width: 100%;
            background: white;
            .subsection {
                width: 100%;
                padding: 64px;
                @media all and (max-width: 600px) {padding: 0;}
                .box {
                    display: ~"-webkit-flex";
                    display: flex;
                    -webkit-flex-flow: row wrap;
                    flex-flow: row wrap;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;

                    // To check
                    max-width: 1220px;
                    width: 100%;
                    padding: 16px;
                    margin: auto;
                    @media all and (max-width: 425px) {padding: 0;}
                    .copy {
                        // Add webkit
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        flex: 1 0 auto;

                        min-width: 288px;
                        height: 100%;
                        padding: 16px;
                        h1 {
                            font: 800 36px/36px "Open Sans", sans-serif;
                            color: rgba(66,66,66,.875);
                        }
                        h2 {
                            font: 800 28px/36px "Open Sans", sans-serif;
                            color: rgba(66,66,66,.875);
                            @media all and (max-width: 360px) {font: 800 24px/32px "Open Sans", sans-serif;}
                        }
                        p {
                            margin-top: 24px;
                            font: 18px/24px "Open Sans", sans-serif;
                            color: rgba(66,66,66,.75);
                            @media all and (max-width: 360px) {font: 16px/20px "Open Sans", sans-serif;}
                            + p {margin-top: 12px;}
                            + div {
                                margin-top: 24px;
                                &.snackbar {margin-top: 48px;}
                            }
                        }
                    }
                    .photo {
                        // Add webkit
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        flex: 1 1 auto;

                        width: 50%;
                        padding: 16px;
                        figure {
                            // Add webkit
                            flex: 0 0 auto;
                            align-self: center;

                            width: 100%;
                            background: rgba(0,0,0,.125);
                            margin: 0 12px;
                            img {
                                display: block;
                                width: 100%;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
            &.cover {
                display: block;
                min-height: 488px; // To check
                height: 100%;
                background: transparent;
                // background: url(../m/img/.jpg) top center / cover no-repeat fixed;
                // @media all and (max-width: 1024px) {background: url(../m/img/.jpg) top left / cover no-repeat fixed;}
                .subsection {
                    height: 100%;
                    .box {
                        -webkit-flex-flow: column nowrap;
                        flex-flow: column nowrap;
                        -webkit-justify-content: center;
                        justify-content: center;

                        height: 100%;
                        .copy {
                            h1 {color: white;}
                            p {
                                font: 600 20px/28px "Open Sans", sans-serif;
                                color: white;
                                @media all and (max-width: 360px) {font: 600 18px/24px "Open Sans", sans-serif;}
                            }
                        }
                    }
                }
            }
            &.content {
                .subsection {
                    .box {
                        .copy {
                            width: 50%;
                            @media all and (max-width: 768px) {width: 100%;}
                        }
                    }
                }
                &:nth-of-type(2n+1) {
                    background:#FAFAFA;
                    .subsection {
                        .box {
                            -webkit-flex-flow: row-reverse wrap;
                            flex-flow: row-reverse wrap;
                            @media all and (max-width: 768px) {
                                -webkit-flex-flow: column-reverse wrap;
                                flex-flow: column-reverse wrap;
                            }
                        }
                    }
                }
            }
            &.cta-footer {
                display: block;
                background: #27AAE1;
                .subsection {
                    .box {
                        -webkit-flex-flow: column nowrap;
                        flex-flow: column nowrap;
                        -webkit-justify-content: center;
                        justify-content: center;

                        min-height: 384px; // To check
                        .copy {
                            margin: auto;
                            text-align: center;
                            h1 {color: white;}
                            h2 {color: white;}
                            p {color: white;}
                            .input-block {.signup {background: #DD554B;}}
                        }
                    }
                }
            }
            &.footer {
                background: #1B75BC;
                .subsection {
                    &.footer-top {
                        display: none;
                        -webkit-flex: 1 0 auto;
                        flex: 1 0 auto;

                        border-bottom: 8px solid rgba(0,0,0,.125);
                    }
                    &.footer-middle {
                        // Add webkit
                        flex: 1 0 auto;
                        .box {
                            .copy {
                                h2 {
                                    color: white;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    &.footer-bottom {
                        -webkit-align-self: flex-end;
                        align-self: flex-end;

                        height: 64px;
                        width: 100%;
                        padding: 0;
                        .box {
                            display: ~"-webkit-flex";
                            display: flex;
                            -webkit-justify-content: center;
                            justify-content: center;

                            max-width: 100%;
                            height: 100%;
                            background: rgba(0,0,0,.125);
                            border-top: none;
                            border-bottom: none;
                            .copyright {
                                font: 12px/32px "Open Sans", sans-serif;
                                color: rgba(255,255,255,.5);
                                text-align: center;
                            }               
                        }
                    }
                }
            }

        }
    }
}